*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.form-container{
  margin:20px auto;
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #fff;
}

.form-group{
  margin-bottom: 20px;

}

label{
  display:block;
  margin-bottom: 5px;
  font-weight: bold;
}
input,select{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button{
  width:100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover{
  background-color: #0056b3;
}
